[default]
log_file_dir = c:\work\sw-delta-ai-cycles\application-instance\logs
cache_dir = c:\work\sw-delta-ai-cycles\application-instance\cache

[mongodb]
username = joe_fred
password = password12334

[rabbitmq]
username = bugs_bunny
password = password1234
