[default]
log_dir = c:\work\sw-delta-ai-cycles\application-instance\logs
cache_dir = c:\work\sw-delta-ai-cycles\application-instance\cache
solution_dir = c:\work\sw-delta-ai-cycles\application-instance\solutions

[mongodb]
hostname = localhost
port     = 27017
dbname   = delta-ai

[rabbitmq]
username = bugs_bunny
password = password1234
